:host {
    background-color: var(--theme-color);
    color: white;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

section {
    flex: 1;
    padding: 20px;
}

section:nth-of-type(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

footer {
    padding: 20px;
}