html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden scroll;
}

header {
    position: fixed;
    z-index: 300;
    width: 100vw;
    height: 105px;
    padding: 10px;
    box-sizing: border-box;
}

main {
    margin-top: 105px;
}

footer {
    background-color: var(--palette-color-5);
    padding-top: 40px;
    overflow: hidden;
}