html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

body {
    margin: 0;
    background: linear-gradient(lightblue, lightgreen);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header section {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main section {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer {
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 4rem;
}

img {
    width: 500px;
    border-radius: 5%;
    filter: drop-shadow(10px 10px 10px lightgray)
}

p {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}

ul {
    font-size: 1.8rem;
}

a:not(main a), select, small {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

nav a {
    margin: 5px;
}