:root {
    --palette-color-1: #264653;
    --palette-color-2: #2A9D8F;
    --palette-color-3: #E9C46A;
    --palette-color-4: #7209b7; 
    --palette-color-5: #560bad;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

body {
    background: linear-gradient(var(--palette-color-4), var(--palette-color-5));
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: grid;
    grid-template-rows: auto auto;
    overflow: scroll;
}

sw-header {
    --theme-color-1: var(--palette-color-1);
    --theme-color-2: var(--palette-color-2);
}

sw-main {
    min-height: 100vh;
}

sw-footer {
    min-height: 20vh;
    --theme-color: var(--palette-color-1);
}