:host {
    display: none;
    padding: 40px;
    min-height: 90vh;
    font-size: medium;
}

main {
    margin-top: 110px;
    opacity: 0.5;
}

button {
    font-size: 1em;
    padding: 5px 40px;
    opacity: 0.7;
    cursor: pointer;
}

@media (max-width: 480px) {
    main {
        margin-top: 50px;
        text-align: center;
    }
}