:host {
    display: none;
    font-size: medium;
    position: relative;
}

main {
    position: absolute;
    z-index: 100;
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

button {
    font-size: 1em;
    padding: 5px 40px;
    cursor: pointer;
}

@media (max-width: 480px) {
    main {
        margin-top: 50%;
    }
}