:host {
    display: none;
    font-size: medium;
    position: relative;
}

main {
    display: none;
}

main {
    position: absolute;
    z-index: 100;
    width: 100%;
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
}

button {
    font-size: large;
    padding: 5px 40px;
    cursor: pointer;
}

tl-kiitos {
    position: absolute;
    z-index: 100;
    width: 100%;
    text-align: center;
    margin-top: 3%;
}

tl-avatar {
    position: absolute;
    z-index: 100;
    width: 100%;
    text-align: center;
    margin-top: 70%;
}

@media (max-width: 480px) {
    main {
        margin-top: 75%;
        margin-left: 0;
        text-align: center;
    }

    tl-avatar {
        margin-top: 5%;
        width: 80%;
    }
}