:host {
  font-size: medium;
  --n: 0;
  --width: 80vw;
}

#laptop {
  width: 50vw;
  /*backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 60px;*/
}

#text {
  overflow: hidden scroll;
  text-align: left;
  padding: 0 20px;
}

p {
  display: inline;
  font-family: monospace;
  font-size: large;
  color: transparent;
  background: linear-gradient(-90deg, white 5px, transparent 0) 10px 0, linear-gradient(#00DFFC 0 0) 0 0;
  background-size: calc(var(--n)*1ch) 200%;
  background-clip: padding-box, text;
  -webkit-background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation: blinking .7s infinite steps(1), typing calc(var(--n)/5*.3s) steps(var(--n)) forwards;
}

span {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -3px;
  height: 18px;
  width: 5px;
  animation: caret 0.5s step-end infinite calc((var(--n))/5*.3s);
}

/*
#text::before {
  content: "$";
  position: absolute;
  color: white;
  left: 0;
}

p::after {
  content: "";
  position: absolute;
  margin-left: 5px;
  height: 18px;
  width: 5px;
  animation: caret 0.5s step-end infinite calc((var(--n))/5*.3s);
}
*/

#button {
  text-align: left;
}

button {
  display: inline-block;
  padding: 7px 18px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #FFBD2DDD;
  color: white;
  font-size: large;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 150ms ease-out;
  margin: 10px;
}

button:hover {
  outline: 4px solid white;
}

circle {
  cursor: pointer;
  transition: all 150ms ease-out;
}

circle:hover {
  stroke: white;
}

@keyframes typing {
  from {
    background-size: 0 200%;
  }
}

@keyframes blinking {
  50% {
    background-position: 0 -100%, 0 0;
  }
}

@keyframes caret {
  from, to {
    background-color: transparent;
  }

  50% {
    background-color: white;
  }
}

@media (max-width: 480px) {
  #laptop {
    width: var(--width);
  }
}