:host {
	color: var(--theme-color-1);
	background-color: white;
	padding: 10px;
	font-size: medium;
}

header {
	display: flex;
	flex: row nowrap;
	align-items: center;
}

section {
	flex: 3;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

ul {
	flex: 7;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 25px;
}

aside {
	flex: 1;
	text-align: center;
}

h1 {
	color: var(--theme-color-1);
	font-size: 3em;
	margin: 0;
	margin-left: 15px;
}

h2 {
	cursor: default;
}

h1:hover {
	color: var(--theme-color-2);
}

sup {
	font-size: 0.6em;
}

a {
	text-decoration: none;
	color: currentColor;
}

img {
	height: 5em;
	border-radius: 50%;
	transform: scale(-1, 1);
}

nav {
	display: flex;
	flex-direction: column;
	visibility: hidden;
	position: absolute;
	background-color: white;
	width: auto;
	border-top: 10px solid white;
	transition: border-top-color 0.3s ease;
	padding: 15px 25px 25px 25px;
	z-index: 200;

	max-width: 20vw;
	max-height: 70vh;
	overflow: hidden scroll;
}

nav > a {
	text-align: center;
}

menu {
    list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

ul li:hover h3 {
	color: var(--theme-color-2);
	cursor: pointer;
}

ul li:hover nav {
	visibility: visible;
	border-top-color: var(--theme-color-2);
}

nav h4 {
	cursor: default;
}

menu li {
	margin: 0 0 10px 10px;
}

menu li:hover {
	color: var(--theme-color-2);
	cursor: pointer;
}

menu li a:not([href]) {
	opacity: 0.5;
	cursor: default !important;
}

select {
	color: var(--palette-color-2);
	border-color: currentColor;
}

button {
	color: white;
    background-color: var(--theme-color-2);
    border-radius: 5px;
	border: double 5px white;
	padding: 3px 5px;
}

button:hover {
	cursor: pointer;
	border-color: var(--theme-color-2);
}

/*----------*/

.menu-button-container {
	display: none;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 50px;
	height: 50px;
}
  
#menu-toggle {
	display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: currentColor;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: '';
	margin-top: -8px;
}

.menu-button::after {
	content: '';
	margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
	background: transparent;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

@media (max-width: 480px) {
	section {
		flex: 3;
	}

	h1 {
		font-size: 2.5em;
	}

	aside {
		display: none;
	}

	.menu-button-container {
		flex: 1;
		display: flex;
	}

	h3 {
		color: white;
	}

	nav {
		top: 0;
		right: 0;
		opacity: 0;
		max-width: 60vw;
		max-height: 50vh;
		overflow: hidden scroll;
	}

	ul li:hover nav {
		opacity: 1;
		transition: opacity 0.5s ease-in;
	}

	#menu-toggle ~ ul {
		display: none;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;

		position: absolute;
		top: 75px;
		left: 0;
		z-index: 200;

		box-sizing: border-box;
		width: 100%;
		padding-left: 30px;
		padding-bottom: 25px;
		background-color: var(--theme-color-1);

		opacity: 0;
		/*transition: opacity 0.5s ease-in-out;
		animation: slideIn 0.5s ease-in-out;*/
	}

	#menu-toggle:checked ~ ul {
		display: flex;
		opacity: 1;
		transition: opacity 0.5s ease-in-out;
		animation: slideOut 0.5s ease-in-out;
	}
}

@keyframes slideIn {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

@keyframes slideOut {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}