:host {
	color: var(--theme-color-1);
	background-color: white;
	padding: 10px;
}

header {
	display: flex;
	flex: row nowrap;
	align-items: center;
}

section {
	flex: 2;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

nav {
	flex: 7;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

aside {
	flex: 1;
	text-align: center;
}

h1 {
	color: var(--theme-color-1);
	font-size: 3em;
	margin: 0;
}

h1:hover {
	color: var(--theme-color-2);
}

sup {
	font-size: 0.6em;
}

a {
	text-decoration: none;
	color: currentColor;
}

img {
	height: 5em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

div {
	display: flex;
	flex-direction: column;
	visibility: hidden;
	position: absolute;
	background-color: white;
	width: auto;
	border-top: 10px solid white;
	transition: border-top-color 0.3s ease;
	padding: 15px 25px 25px 25px;
	z-index: 1;
}

div > a {
	text-align: center;
}

menu {
    list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

ul:hover h3 {
	color: var(--theme-color-2);
	cursor: pointer;
}

ul:hover div {
	visibility: visible;
	border-top-color: var(--theme-color-2);
}

div h4 {
	cursor: default;
}

menu li {
	margin: 0 0 10px 10px;
}

menu li:hover {
	color: var(--theme-color-2);
	cursor: pointer;
}

menu li a:not([href]) {
	opacity: 0.5;
	cursor: default !important;
}

select {
	color: var(--palette-color-2);
	border-color: currentColor;
}

/*----------*/

.menu-button-container {
	display: none;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
  
#menu-toggle {
	display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: currentColor;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: '';
	margin-top: -8px;
}

.menu-button::after {
	content: '';
	margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
	background: currentColor;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

@media (max-width: 480px) {
	nav, aside {
		display: none;
	}

	nav {
		position: absolute;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		top: 100px;
	}

	figure {
		display: block;
	}

	.menu-button-container {
		display: flex;
		flex: 0.5;
	}

	#menu-toggle:checked ~ nav {
		display: flex;
	}

	#menu-toggle ~ nav {
		display: none;
	}
}